<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis Interface</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="glass-container">
        <header>
            <div class="core-wrapper">
                <div id="jarvis-core" class="idle">
                    <div class="inner-ring"></div>
                    <div class="core-light"></div>
                </div>
            </div>
            <h1>J.A.R.V.I.S. </h1><br>
        </header>

        <div id="chatbox" class="chat-display">
            <div class="bot-msg">Good Day Sir. How may I assist you today?</div>
        </div>

        <div class="input-area">
            <input type="text" id="command" placeholder="Enter command..." autocomplete="off">
            <button id="sendBtn" onclick="sendCommand()">EXECUTE</button>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>